* {
    letter-spacing: 0 !important;
}

body,
html {
    background-color: #f3f3f3;
    color: #333;
    direction: ltr;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.containers-app {
    background-color: #000;
}


.lang-selection-container {
    float: right;
    display: inline-flex;
}



.our-story-header--has-language-selector {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    justify-content: flex-start;
    padding-top: 0.5rem;
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
    .our-story-header {
        margin: 0 45px;
    }
}

.our-story-header {
    height: 100%;
    margin: 0 3.5rem;
    position: relative;
}

.our-story-header--has-language-selector .our-story-logo {
    margin-right: auto;
}

.nfLogo {
    fill: #e50914;
    line-height: normal;
}

.screen-reader-text {
    left: -9999px;
    position: absolute;
    top: -9999px;
}



.authLinks.redButton {
    background-color: #e50914;
    float: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
}

.authLinks {
    border-radius: 3px;
    color: #fff;
    margin-top: 0.5rem;
}

a {
    color: #0071eb;
    text-decoration: none;
}

.lang-selection-container .ui-select-wrapper {
    width: auto;
}

.ui-select-wrapper {
    display: inline-block;
    position: relative;
}

.ui-select-wrapper>.ui-label {
    margin-bottom: 0;
}

.lang-selection-container .ui-label {
    clip: rect(0 0 0 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.ui-label {
    margin-bottom: 6px;
}

@media only screen and (max-width: 740px) {

    .ui-label,
    .ui-label-no-margin {
        font-size: 13px;
    }
}

.ui-label,
.ui-label-no-margin {
    color: #8c8c8c;
    display: block;
    font-size: 16px;
    font-weight: 400;
}

.ui-select-wrapper .select-arrow {
    display: inline-block;
    position: relative;
    width: 100%;
}

.lang-selection-container .ui-label {
    clip: rect(0 0 0 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media only screen and (max-width: 740px) {

    .ui-label,
    .ui-label-no-margin {
        font-size: 13px;
    }
}

.ui-label,
.ui-label-no-margin {
    color: #8c8c8c;
    display: block;
    font-size: 16px;
    font-weight: 400;
}

.ui-select-wrapper .select-arrow {
    display: inline-block;
    position: relative;
    width: 100%;
}

.our-story-header--has-language-selector .lang-selection-container .select-arrow.prefix .ui-select.medium {
    line-height: 1.3em;
    overflow: hidden;
    padding-left: 1.375rem;
    padding-right: 1.375rem;
    white-space: nowrap;
}

.lang-selection-container .ui-select-wrapper .select-arrow.prefix .ui-select.medium {
    padding-right: 26px;
    text-indent: 0;
}

@media only screen and (min-width: 1450px),
only screen and (min-width: 550px) and (max-width: 949px),
only screen and (min-width: 950px) and (max-width: 1449px) {
    .our-story-header--has-language-selector .lang-selection-container .select-arrow.prefix .ui-select {
        padding: 0.5rem 1.375rem;
    }
}

.our-story-header--has-language-selector .lang-selection-container .select-arrow.prefix .ui-select {
    background: rgba(0, 0, 0, .4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    padding: 0.25rem 1.375rem;
}

.ui-select-wrapper .select-arrow.prefix .ui-select.medium {
    line-height: 1.7;
    padding-left: 50px;
    text-indent: 2px;
}

.ui-select.medium {
    padding: 12px;
}

.our-story-header--has-language-selector .authLinks.redButton,
.our-story-header--has-language-selector .our-story-cta-container {
    float: none;
    margin-top: 0;
    white-space: nowrap;
}

.our-story-cards {
    margin: 0 auto;
}

@media only screen and (min-width: 1450px),
only screen and (min-width: 550px) and (max-width: 949px),
only screen and (min-width: 950px) and (max-width: 1449px) {
    .our-story-card {
        padding: 70px 45px;
    }
}

.our-story-card {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}

.our-story-card-background {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -70px;
    z-index: 0;
}

.hero-card.vlv .our-story-card-background .concord-img-wrapper {
    bottom: 0;
}

.hero-card .concord-img-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

@media only screen and (max-width: 349px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) and (orientation: portrait) {
    .hero-card.vlv .concord-img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        width: auto;
    }
}

.hero-card.vlv .concord-img {
    transform: none;
}


.hero-card .concord-img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scale(1.25) translateY(-10%);
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

@media only screen and (max-width: 349px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) and (orientation: portrait) {
    .hero-card.vlv .concord-img-gradient {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8));
    }
}

.hero-card.vlv .concord-img-gradient {
    background: rgba(0, 0, 0, .4);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 60%, rgba(0, 0, 0, .8));
}

.hero-card .concord-img-gradient {
    background: rgba(0, 0, 0, .5);
    background-image: linear-gradient(0deg, transparent 50%, rgba(0, 0, 0, .7)), radial-gradient(50% 100%, transparent 0, rgba(0, 0, 0, .7) 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.hero-card .our-story-card-text {
    margin: 0 auto;
    max-width: 950px;
    padding: 75px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}

@media only screen and (min-width: 550px) and (max-width: 949px) {

    .our-story-card-subtitle,
    .our-story-card-text {
        font-size: 1.25rem;
    }
}

.our-story-card-subtitle,
.our-story-card-text {
    font-size: 1.625rem;
    font-weight: 400;
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
    .hero-card .our-story-card-title {
        font-size: 3.125rem;
    }
}

.hero-card .our-story-card-title {
    font-size: 1.75rem;
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
    .our-story-card-title {
        font-size: 2.5rem;
    }
}

.our-story-card-title {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 27px;
    margin: 0 0 0.4em;
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
    .hero-card .our-story-card-subtitle {
        font-size: 1.625rem;
    }
}

.hero-card .our-story-card-subtitle {
    font-size: 1.125rem;
    margin: 1rem auto;
}

.hero-card h1,
.hero-card h2 {
    margin: 0 auto;
    max-width: 640px;
}

.center-pixel {
    left: 50%;
    position: absolute;
    top: 50%;
}

@media only screen and (min-width: 1450px),
only screen and (min-width: 550px) and (max-width: 949px),
only screen and (min-width: 950px) and (max-width: 1449px) {
    .our-story-card {
        padding: 70px 45px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) {
    .email-form-title {
        padding: 0 10%;
    }
}

.email-form-title {
    font-weight: 400;
    margin: 0 auto;
    max-width: 450px;
    padding: 0 5%;
}

h3 {
    font-size: 18px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.email-form-lockup {
    text-align: center;
}

ul.structural {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media only screen and (max-width: 349px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) {
    .email-form-lockup .field-email {
        margin-bottom: 0;
    }
}

ul.structural>li {
    list-style: none;
    margin-left: 0;
}

.nfFormSpace {
    margin-bottom: 10px;
}

ul>li {
    list-style-type: disc;
    margin-bottom: 5px;
    margin-left: 1.1em;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.email-form-lockup .nfInput {
    margin: 10px auto;
}

.nfInput,
.nfInput .nfInputPlacement {
    position: relative;
}

.nfInput {
    max-width: 500px;
}

.nfInput,
.nfInput .nfInputPlacement {
    position: relative;
}

label {
    cursor: default;
}

.nfInput .nfTextField {
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
}

.nfTextField:invalid,
.nfTextField:valid {
    box-shadow: none;
}

.nfTextField {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    height: 44px;
    padding: 10px 11px;
    width: 100%;
}

.input {
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.nfInput .placeLabel {
    color: #8c8c8c;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease, top .1s ease, transform .1s ease;
}

.hero-card .our-story-card-text .our-story-cta-container {
    float: none;
}

@media only screen and (max-width: 349px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) {
    .email-form-lockup .our-story-cta-container {
        margin-top: 0;
        padding: 0;
    }
}

.nmhp-cta-extra-large {
    font-size: 1rem;
    min-height: 40px;
}

.nmhp-cta {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    line-height: normal;
    margin: 0.25em auto;
    padding: 0 1em;
    width: auto;
}

.btn {
    font-size: 1em;
    margin: 0.5em 0.5em 0.5em 0;
    min-height: 50px;
    min-width: 74px;
    padding: 24.5px 2em;
    position: relative;
}

.btn-red {
    background-color: #e50914;
    background-image: linear-gradient(180deg, #e50914, #db0510);
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    color: #fff;
}

.btn {
    background-color: #e6e6e6;
    background-image: linear-gradient(180deg, #e6e6e6, #ddd);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .1px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.nmhp-cta .chevron-right-arrow {
    flex: 0 1 auto;
    height: 0.75em;
    margin: 0 0 0 0.5em;
    position: relative;
    width: 0.35em;
}

.nmhp-cta .chevron-right-arrow svg {
    height: 100%;
    left: 0;
    margin: 1px 0;
    position: absolute;
    top: 0;
    transform: scaleX(1);
}

svg:not(:root) {
    overflow: hidden;
}

@media only screen and (max-width: 349px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) {
    .animation-card .animation-card-container {
        flex-direction: column;
    }
}

.animation-card .animation-card-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

@media only screen and (max-width: 349px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) {
    .animation-card.watchOnTv .our-story-card-text {
        margin: 0;
    }
}

@media only screen and (max-width: 349px),
only screen and (min-width: 350px) and (max-width: 399px),
only screen and (min-width: 400px) and (max-width: 549px),
only screen and (min-width: 550px) and (max-width: 949px) {
    .animation-card.flipped .animation-card-container {
        flex-flow: column;
    }
}

.animation-card.flipped .animation-card-container {
    flex-flow: row-reverse;
}